* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#connectbody {
  font-family: sans-serif;
}
#connectmain{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    background-color: yellowgreen;
}
#players{
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#connectgame {
  align-items: center;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}
#texth1 {
  text-transform: uppercase;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 30vw;
  aspect-ratio: 1/1;
  margin: 10px 0 25px;
}
.cells {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #4370f1;
  height: 100%;
  width: 100%;
}
.cells::after {
  background: yellowgreen;
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 80%;
  width: 80%;
}
.cells:not(.row-top).red::after {
  background: red;
}
.cells:not(.row-top).yellow::after {
  background: yellow;
}
.cells:not(.row-top).red.win {
  background: red;
}
.cells:not(.row-top).yellow.win {
  background: yellow;
}
.cells.row-top {
  background: lightskyblue;
}
.cells.row-top::after {
  border: none;
}
.cells.row-top.red::after {
  background: red;
  border: 3px solid black;
}
.cells.row-top.yellow::after {
  background: yellow;
  border: 3px solid black;
}
.reset-en-status {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.reset {
  background-color: #4370f1;
  border-radius: 5px;
  border: none;
  color: yellowgreen;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 30px;
  text-transform: uppercase;
}
.reset:hover {
  background-color: #1d50f1;
}
.reset:active {
  background-color: #4d7ef1;
}
.status {
  display: block;
  font-size: 20px;
}
.left-border {
  border-left: 2px solid black;
}
.top-border {
  border-top: 2px solid black;
}
.right-border {
  border-right: 2px solid black;
}
.bottom-border {
  border-bottom: 2px solid black;
}
.left-border.top-border {
  border-radius:  10px 0 0 0;
}
.right-border.top-border {
  border-radius: 0 10px 0 0;
}
.right-border.bottom-border {
  border-radius: 0 0 10px 0;
}
.left-border.bottom-border {
  border-radius: 0 0 0 10px;
}
.reset:disabled {
 background-color: #4370f1;
}
.hangmanmain{
  background-color: #8c52ff;
}
.containerhangman{
  font-size: 16px;
  background-color: #ffffff;
  width: 90vw;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.6em;
  box-shadow:0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}
#options-container{
  text-align: center;
}
#options-container article{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}
#options-container button{
  padding: 0.6em 1.2em;
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border: 0.3em;
  text-transform: capitalize;
  cursor: pointer;
}
#options-container button:disabled{
  border: 3px solid #808080;
  background-color: #efefefef;
  color: #808080;
}
#options-container button:active{
  background-color: #8c52ff;
  border: 3px solid #000000;
  color: #fff;
}
.letter-container{
    width: 100%;
  display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 0.6em;
}
#letter-container button{
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  background-color: #ffffff;
  cursor: pointer;
}
.new-game-popup{
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0,6em;
}
#user-input-section{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}
canvas{
  display: block;
  margin: auto;
  border: 10px solid #8c52ff;
  border-radius: 10px;
}
.hide{
  display: none;
}
#result-text h2{
  font-size: 1.8em;
  text-align: center;
}
#result-text p{
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}
#result-text span{
  font-weight: 600;
}
#new-game-button{
  font-size: 1.25em;
  padding: o.5em 1em;
  background-color: #8c52ff;
  border: 3px solid #000000;
  color:#fff;
  border-radius: 0.2em;
  cursor: pointer;
}
.win-msg{
  color: #39d7778d;
}
.lose-msg{
  color:#fe5152;
}